.colour-slots{
    min-height: 100vh;
}

.coolea{
    padding:1rem;
    margin: 1rem;
}
.coolea p{
    font-size:18px;
    font-weight:600;
}
.coli{
    margin-left:8px;
    color:rgb(27, 139, 27);
    
}


.addcl{
    font-weight:500;
    height:5rem;
    /* width: ; */
    min-width:10rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    border-radius: 2px;
    color: rgb(22, 34, 24);
    background-color:white;
    border: 2px solid rgb(216, 216, 216);
    text-align:center;
    transition-duration:0.5s;
    margin-top: 6px;
}
.addcl:hover{
    background-color:rgb(254, 253, 255);
    transform: scale(1.01);
    border:rgb(176, 238, 176) 2px solid;
    color:rgb(5, 150, 17);
    /* box-shadow:0px 1px 4px rgb(186, 216, 186); */
}









.cl{
margin:1rem;
min-height:15rem;
border: solid grey 1px;
padding:2rem;
border-radius:1.5px;
box-shadow: 0 0 1px rgba(163, 163, 165, 0);
}
.lipin{
    background-color: brown;
    
}
.pinli{
    background-color:rgb(8, 69, 119);
}
.yelli{
    background-color:rgb(173, 173, 9);
}
.lopo{
    background-color: rgb(39, 6, 66);
}
.e{
    background-color: rgb(236, 20, 128);
}
.f{
    background-color:rgb(88, 65, 170);
}
.g{
    background-color:rgb(218, 155, 40);
}
.h{
    background-color: rgb(39, 90, 156);
}


.luigai{
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(241, 236, 236);
}