*{
    padding: 0;
    margin: 0;
}


.foots{
    background-color:rgb(9, 14, 19);
    height:4rem;
    color:rgb(145, 145, 146);
    text-align:center;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Calibre-Bold',"Meiryo",Osaka; 
}

.fot{
    margin-top:0.8rem;
}





  