* {
  padding: 0;
  margin: 0;
  font-family: "Calibre-Bold";
}

.loki{
    padding:0.6rem;
    border: solid 1px rgb(89, 75, 102);
    border-radius:1.5rem;
    color: rgb(17, 213, 248);
}
.home{
    padding-top: 5rem;
    color: rgb(218, 218, 228);
    min-height: 6rem;
    color:rgb(199, 186, 186);
}
.inov{
  margin-left: 6rem;
  color: white;
  padding: 0.6rem;
  border: solid 1px rgb(76, 64, 87);
  border-radius:1rem;
  color: rgb(89, 217, 240);
}
.paddup {
  padding-bottom: 1rem;
}
.head {
  min-height: 12rem;
  /* background-color: rgb(2, 13, 24); */
  background-image: linear-gradient( rgb(0, 0, 0),rgb(35, 3, 75));
  top: 0;
  width: 100%;
  z-index: 1000;
  border-top: 0.5px solid rgb(131, 123, 123);
}
.search {
  color: rgb(173, 163, 173);
  padding-top: 5rem;
  padding-left: 60%;
  min-height: 6rem;
}

.name {
    min-height:6rem;
  color: rgb(165, 151, 151);
  font-size: 2.5em;
  font-family: "Calibre-Bold";
  font-weight: 600;
  padding-left: 2rem;
  letter-spacing:-2px;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}

.nav-item {
  color: rgb(2, 37, 41);
  transition-duration: 0.3s;
  font-weight: 500;
  margin-right: 2rem;
}
.nav-item:hover {
  color: rgb(6, 79, 97);
  transition: ease-in-out;
  transform: scale(1.03);
  font-size: 1.5;
}

.navbar-toggler {
  color: rgb(92, 89, 89);
}
.toggs {
  color: rgb(80, 78, 78);
}
