* {
  padding: 0;
  margin: 0;
  font-family: Poppins, Roboto;
 
}

.myhead{
  /* background-color:rgb(70, 49, 143); */
  color:black;
  min-height: 11rem;
  top: 0;
}




.loki{
  margin-left:2rem;
  padding-left:3rem;
  /* padding-right:3rem; */
  padding:6px 36px 6px 36px;
    min-width:5rem;
    min-height:4rem;
    text-align:center;
    border: solid 1.5px rgb(187, 182, 182);
    background-color:rgb(247, 243, 250);
    border-radius:3px;
    color: rgb(47, 55, 56);
}

.home{
    min-height: 3rem;
    color:rgb(221, 228, 233);
    cursor: pointer;
    /* background-color:red;  */
    padding-top:4rem;
    text-align:left;
    margin-left:2rem;
}


.md-48{
  color:rgb(7, 143, 177);
}

.inov{
  padding:14px 32px 13px 32px;
  background-color: rgb(2, 2, 3);
  color: rgb(255, 255, 255);
  min-width:7rem;
  min-height: 3.3rem;
  text-align: center;
  border: none;
  /* border: solid 1.5px rgb(94, 90, 90); */
  border-radius:4px;
}


.paddup {
  padding-bottom: 1rem;
}


.search {
  padding-top: 3.5rem;
  text-align:right;
  padding-right:2rem;
  /* background-color: rgb(10, 10, 10); */
}


.name {
  /* background-color:green; */
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: poppins;;
  font-weight: 900;
  letter-spacing:-1px;
  padding-left:5rem;
  padding-top: 5.8rem;
}



.kai{
  font-size:1rem;
  font-weight:500;
}
.search p{
  padding:0;
  margin:0;
}

  /* 
  .nav-item {
    color: rgb(2, 37, 41);
    transition-duration: 0.3s;
    font-weight: 500;
    margin-right: 2rem;
  } */

/* .nav-item:hover {
  color: rgb(6, 79, 97);
  transition: ease-in-out;
  transform: scale(1.03);
  font-size: 1.5;
} */

/* .navbar-toggler {
  color: rgb(92, 89, 89);
} */

/* .toggs {
  color: rgb(80, 78, 78);
} */

/* MOBILE RESPONSIVE */
.mbres{
  display:none;
}

.mbgrid{
  background-color:rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: "mbhome dcv mbacc";
  /* background-image: linear-gradient(rgb(216, 216, 216), rgb(224, 224, 224)); */
  width:100%;
  padding:1rem;
  
}
.mbgrid div{
  text-align:center;
  margin:1rem;

}

.mbhome{
  color: rgb(255, 255, 255);
  padding:1rem;   
  width:6rem;
  font-weight: 500;
  min-height: 3.5rem; 
  border-radius:2rem;
  background-color:rgb(34, 34, 34);
}

.mbacc{
  margin-left:12vw;
  text-align:right;
  color: rgb(0, 86, 104);
  padding:1rem;   
  width:10rem;
  font-weight: 500;
  min-height: 3.5rem;
  border-radius:2rem;
  background-color:rgb(245, 243, 243);
}


/* MOBILE DEVICE CSS */

@media only screen and (max-width: 600px) {

 
  .myhead{
    display: none;
  }
  .mbres{
    display:block;
    width:100%;
    top: 0;
  }
    .btni{
        width:24%;
        min-height: 3rem;
    }
  
}

 


