* {
  padding: 0;
  margin: 0;
  font-family: Poppins, Roboto;
}


.head{
  background-color:white;
  color:black;
  min-height: 12rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-top: 4px solid rgb(207, 211, 218);
  margin-top:0.3px;
}



.loki{
    padding:0.6rem;
    width:6rem;
    margin-right: 2rem;
    height:3.3rem;
    text-align:center;
    border: solid 1.5px rgb(187, 182, 182);
    background-color:rgb(255, 255, 255);
    border-radius:2rem;
    color: rgb(5, 4, 4);
}


.home{
    padding-top: 5rem;
    min-height: 6rem;
    color:rgb(100, 103, 105);
    cursor: pointer;
}

.inov{
  margin-left: 6rem;
  background-color: rgb(2, 2, 3);
  color: rgb(255, 255, 255);
  padding: 0.6rem;
  width:7rem;
  height: 3.3rem;
  text-align: center;
  border: none;
  /* border: solid 1.5px rgb(94, 90, 90); */
  border-radius:4rem;
}


.paddup {
  padding-bottom: 1rem;
}


.search {
  color: rgb(173, 163, 173);
  padding-top: 4rem;
  padding-left: 60%;
  min-height: 6rem;
}


.name {
  min-height:6rem;
  color: rgb(0, 0, 0);
  font-size: 2.2em;
  /* font-family: "Calibre-Bold"; */
  font-family: poppins;;
  font-weight: 600;
  padding-left: 3.3rem;
  letter-spacing:-1px;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}

.nav-item {
  color: rgb(2, 37, 41);
  transition-duration: 0.3s;
  font-weight: 500;
  margin-right: 2rem;
}

.nav-item:hover {
  color: rgb(6, 79, 97);
  transition: ease-in-out;
  transform: scale(1.03);
  font-size: 1.5;
}

.navbar-toggler {
  color: rgb(92, 89, 89);
}

.toggs {
  color: rgb(80, 78, 78);
}



/* MOBILE DEVICE CSS */

@media only screen and (max-width: 600px) {

  
  body{
    margin: 1rem;
  }


  .items{
      text-align:left;
  }

    .btni{
        width:24%;
        min-height: 3rem;
    }

    .addcl{
       width:100%;
    }
}

 


