* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
.modal{
  padding: 0;
  margin: 0;
}
button:focus {
  outline: none !important;
}

.modal-content {
  background-color: white;
}

a {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  color: rgb(88, 88, 88);
}

::-webkit-scrollbar {
  width: 20px;
}



.add {
  background-color: rgb(6, 71, 77);
  color: rgb(182, 197, 201);
  text-align: center;
}

.idea-head{
  font-family: Poppins;
  font-weight: 600;
  letter-spacing:-0.5;
  font-size: 1.6rem;
  color: #707474;
}


/* .adder{
  border:1px solid rgb(196, 199, 214);
  border-radius: 3rem;
  padding: 0.5rem;
} */
/*btn for adding idea*/
.ideabtn {  
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  height: 3.2rem;
  width: 12rem;
  color: rgb(59, 52, 66);
  border-radius: 1px;
  background-color: rgb(240, 240, 247);
}


.delinput {
  padding-left: 2rem;
  height: 3rem;
  width: 12rem;
  border-radius: 2px;
  border: solid rgb(197, 196, 196) 1px;
}

/* .wording{

} */
.categ {
  padding-top: 1.8rem;
  height: 5rem;
  color: rgb(141, 144, 145);
  text-align: center;
  background-color:rgb(255, 255, 255);
  margin-bottom:1.1rem;
}
.categ p {
  font-size: 0.8em;
  font-weight: 200;
  margin-left: 0.5rem;
  font-family: Poppins;
  letter-spacing: 1px;
  border-bottom: solid 1.5px rgb(225, 230, 235);
  padding-bottom: 10px;
}

.ima {
  height: 16rem;
  width: 100%;
  /* box-shadow: 1px 3px 7px #e9e3e3; */
  border-radius: 2px;
  margin-top: 0.8rem;
}
.texter {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius:2.2px;
  margin: 1rem;
  padding: 0.70rem;
  min-height: 10rem;
  border: solid 0.65px rgb(231, 236, 236);
  transition-duration: 0.5s;
  background-color:rgb(255, 255, 255);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 6px 2px #fafafa;
}

/*drop down section here*/

.dropdown {
  margin-left: 60%;
  position: relative;
  display: inline-block;
  /* transition:1s; */
}


.btn-delete{
  color:white;
  border-radius:1.3px;
  border:none;
  padding: 8px;
  font-size: 0.5rem;
  width:7rem;
  height:3.2rem;
  font-weight: 400;
  background-color: #f5f3f7;
  background-color:rgb(207, 178, 164);
  color: rgb(36, 25, 25);
  
}

.btn-edit{
  color:white;
  border-radius:1.3px;
  border:none;
  padding: 8px;
  font-size: 0.5rem;
  width:7rem;
  height:3.2rem;
  font-weight: 400;
  background-color: #f5f3f7;
}


.btn-delete:hover {
  color: #977365;
  border: 0.8px solid rgb(201, 191, 191);
  box-shadow: 0px 2px 6px 0px rgba(197, 201, 204, 0.692);
}

.btn-edit:hover {
  border: solid 1px rgb(196, 208, 212);
  color: rgb(54, 145, 168);
}

.spa {
  margin-left: 8rem;
  color:rgb(151, 156, 160);
  font-size:1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 8em;
  border-radius: 1.1px;
  border: solid 0.7px rgb(233, 235, 235);
  padding: 1rem;
  transition-duration: 0.5s;
  text-align: center;
  height:9.5rem
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: ease-in-out;
  background-color: rgb(255, 255, 255);
}

.details {
  font-size: 0.9em;
  font-weight: 400;
  word-spacing: 0.6px;
  color: rgb(132, 132, 134);
}

.id {
  border-bottom: solid rgb(247, 245, 245) 0.5px;
  padding-bottom: 2.2px;
  letter-spacing:-0.1px;
  font-family: Poppins;
  font-weight: 600;
  padding-left: 0.1rem;
  color: rgb(26, 154, 185);
}

.id::first-letter {
  text-transform: uppercase;
}

/* .card h5{
  text-transform: uppercase;
} */

.six {
  font-weight: 500;
  margin-top: 5px;
  color: rgb(101, 106, 107);
  font-size: 1rem;
 
}

.six::first-letter {
  text-transform: uppercase;
}

.date {
  letter-spacing: -1px;
  padding-bottom: 2px;
  font-family:Poppins;
  font-weight: 400;
  text-align: right;
  font-size: 0.5rem;
  color: rgb(116, 121, 122);
  margin-top: 10px;
}

/* The bottom area of the card */

.action-sec{
  padding-top: 1rem;
  height:4rem;
  border-top: 1px solid rgb(240, 243, 245);
  text-align: center;
  color: #959ca0;
  display: none;
}

.action-sec ul li{
  display:inline-flex;
  text-decoration: none;
  list-style: none;
}

.action-sec span{
  border: 1px solid rgb(213, 218, 224);
  padding:1.3px;
  border-radius:0.9rem;
}


/*  MODEL STYLING */

.modal-header{
  border: none;
  border-bottom: none;
  margin:0;
}

.modal-title {
  margin-top:3rem;
  color: rgb(126, 130, 131);
  font-weight: 600;
  padding-left:7rem;
  
}

.modal-body input{

  border-radius: 1.2px solid rgb(167, 174, 177);
  height:3.5rem;
  width: 28rem;
  border: solid 1.2px rgb(220, 224, 226);
  font-size:1rem;
  font-weight:300;
  color:rgb(194, 190, 194);
  text-align: left;
  padding-left:4rem;
  margin-left:5rem;
  /* text-transform: uppercase; */
}

.modal-body textarea:focus {
  outline: none !important;
  border: #cbd1d8 1.5px solid;
  border-radius: 2.2px;
}

.modal-body input:focus {
  outline: none !important;
  border: #cbd1d8 1.5px solid;
  border-radius: 2.2px;
}

.modal-body textarea{
  border-radius: 1.2px solid rgb(167, 174, 177);
  height:5rem;
  width: 28rem;
  border: solid 1px rgb(196, 213, 221);
  border: solid 1.2px rgb(243, 216, 217);
  font-size:1rem;
  font-weight:300;
  color:rgb(194, 190, 194);
  text-align: left;
  padding-left:4rem;
  margin-left:5rem;
  padding-top:0.5rem;
}

/*btn for submitting ide*/
.submitbtn {
  height: 3.4rem;
  width: 11rem;
  color: rgb(41, 111, 121);
  border-radius: 2.3px;
  border: solid 1px rgb(214, 216, 218);
  margin-top: 1rem;
  font-weight: 400;
  font-size:1rem;
  background-color:rgb(233, 241, 241);
  /* border:solid  1px rgb(45, 143, 156); */
  margin-left: 5rem;
}

 .modal-body{
  margin-bottom: 5rem;
  padding-bottom:0;
  
   /* height:60vh; */
 }

 .btnclose{
   width:10rem;
   margin-left:3.5rem;
   border-radius: 2.3px;
   border:solid  1px rgb(250, 248, 248);
   background-color:rgb(182, 96, 85);
   height: 3.3rem;
   color:white;font-weight: 400;
 }

  label{
   margin-left: 7rem;
   font-size:1rem;
   font-weight:500;
   color:rgb(82, 84, 87);
 }






