* {
  padding: 0;
  margin: 0;
}
button:focus {
  outline: none !important;
}

.modal-content {
  background-color: white;
}

a {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  color: rgb(88, 88, 88);
}

::-webkit-scrollbar {
  width: 20px;
}



.add {
  background-color: rgb(6, 71, 77);
  color: rgb(182, 197, 201);
  text-align: center;
}

.idea-head{
  font-family: Poppins;
  font-weight: 600;
  letter-spacing:-0.5;
  font-size: 1.6rem;
  color: #707474;
}

/*btn for submitting ide*/
.addbtn {
  height: 3.5rem;
  width: 10rem;
  color: rgb(3, 96, 124);
  border-radius: 3px;
  border: solid 3px rgb(238, 240, 241);
  margin-top: 1rem;
}
/* .adder{
  border:1px solid rgb(196, 199, 214);
  border-radius: 3rem;
  padding: 0.5rem;
} */
/*btn for adding idea*/
.ideabtn {  
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  height: 3.2rem;
  width: 12rem;
  color: rgb(59, 52, 66);
  border-radius: 1px;
  background-color: rgb(234, 233, 236);
}


.frm input {
  padding-left: 2rem;
  margin-left: 2rem;
  height: 2.8rem;
  border-radius: 3px;
  border: solid 1px rgb(199, 195, 195);
}

.txarea {
  padding: 0.5rem;
  margin-left: 2rem;
  border: solid 1px grey;
}
.delinput {
  padding-left: 2rem;
  height: 3rem;
  width: 12rem;
  border-radius: 2px;
  border: solid rgb(197, 196, 196) 1px;
}

/* .wording{

} */
.categ {
  padding-top: 1.8rem;
  height: 5rem;
  color: rgb(141, 144, 145);
  text-align: center;
  background-color:rgb(255, 255, 255)
}
.categ p {
  font-size: 0.8em;
  font-weight: 300;
  margin-left: 0.5rem;
  font-family: Poppins;
  letter-spacing: 1px;
  border-bottom: solid 1.5px rgb(225, 230, 235);
  padding-bottom: 10px;
}

.exit {
  border-radius: 30rem !important;
  padding: 0.5rem;
  width: 7rem;
}
.ima {
  height: 16rem;
  width: 100%;
  /* box-shadow: 1px 3px 7px #e9e3e3; */
  border-radius: 2px;
  margin-top: 0.8rem;
}
.texter {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 0.6rem;
  min-height: 10rem;
  border: solid 0.5px rgb(236, 241, 241);
  transition-duration: 0.5s;
  /* box-shadow: 1px 1px 7px 2px #f0f5f5; */
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 7px 2px #dee6e6;
}

/*drop down section here*/

.dropdown {
  margin-left: 60%;
  position: relative;
  display: inline-block;
  /* transition:1s; */
}


.btn-delete{
  border-radius:2.5px;
  border:none;
  padding: 3.3px;
  font-size: 0.6rem;
  width:8rem;
  height:3rem;
  font-weight: 500;
  background-color:rgb(212, 175, 154);
  color: white;
  
}

.btn-edit{
  color:white;
  border-radius:1.3px;
  border:none;
  padding: 8px;
  font-size: 0.5rem;
  width:8rem;
  height:3rem;
  font-weight: 400;
  background-color: #f5f3f7;
}


.btn-delete:hover {
  color: #977365;
  border: 1px solid rgb(201, 191, 191);
  box-shadow: 0px 2px 6px 0px rgba(197, 201, 204, 0.692);
}

.btn-edit:hover {
  border: solid 1px rgb(196, 208, 212);
  color: rgb(99, 150, 163);
  box-shadow: 0px 2px 6px 0px rgba(197, 201, 204, 0.692);
}

.spa {
  margin-left: 8rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8em;
  border: solid 1px rgb(236, 236, 236);
  box-shadow: 0px 1px 4px 0px rgba(184, 191, 196, 0.2);
  padding: 1em;
  color: rgb(61, 61, 61);
  transition-duration: 0.5s;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: ease-in-out;
  background-color: #fdfdfd;
}

.details {
  font-size: 0.9em;
  font-weight: 400;
  word-spacing: 0.6px;
  color: rgb(132, 132, 134);
}

.id {
  border-bottom: solid rgb(247, 242, 242) 0.5px;
  padding-bottom: 5px;
  font-weight: 700;
  padding-left: 1rem;
  color: rgb(22, 132, 165);
}

.card h5::first-letter {
  text-transform: uppercase;
}

.six {
  font-weight: 400;
  margin-top: 5px;
  color: rgb(32, 34, 32);
  font-size: 0.7rem;
}

.six::first-letter {
  text-transform: uppercase;
}

.date {
  letter-spacing: -1px;
  padding-bottom: 2px;
  text-align: right;
  font-size: 0.2em;
  color: rgb(51, 80, 102);
  margin-top: 10px;
}


/* The bottom area of the card */
.action-sec{
  padding-top: 1rem;
  height:4rem;
  border-top: 1px solid rgb(240, 243, 245);
  text-align: center;
  color: #959ca0;
  display: none;
}

.action-sec ul li{
  display:inline-flex;
  text-decoration: none;
  list-style: none;
}

.action-sec span{
  border: 1px solid rgb(213, 218, 224);
  padding:1.3px;
  border-radius:0.9rem;
}

.edit-btn{
  margin-left: 4rem;
  margin-right: 4rem;

}


