*{
    padding:0;
    margin:0;
    font-family: Calibre;
}


.all-slots {
    background-image: linear-gradient(rgb(20, 7, 41), rgb(0, 0, 0));
    min-height: 100vh;

  }
.sec-one{
    min-height: 10rem;
    text-align: center;
    font-size:2rem;
    font-weight: 500;
    color:rgb(189, 164, 192);
    cursor: pointer;
}

.idea-items{
    min-height: 9rem;
    border-radius:3px;
    margin:1rem;
    color:rgb(175, 170, 170);
    /* background-image: linear-gradient(to right, rgb(39, 3, 48), rgb(20, 1, 20)); */
    background-image: linear-gradient(rgb(45, 39, 54), rgb(70, 53, 77));
}
.idea-items:hover{
    background-image: linear-gradient(rgb(60, 52, 71), rgb(66, 53, 71));
}

.icon-sec{
    padding-top: 2rem;
    padding-bottom:1rem;
}
.sketches-items{
    background-image: linear-gradient(to right, rgb(43, 26, 43) , rgb(36, 23, 36));
    min-height: 9rem;
    border-radius: 4px;
    margin:1rem;
    color: rgb(158, 150, 150);
}


/* section 2 */
.sec-two{
    min-height: 18rem;
    text-align: center;
    font-size:2rem;
    font-weight: 500;
}

.task-items{
    /* background-color: rgb(25, 51, 51); */
    background-image: linear-gradient(to right, rgb(20, 37, 37) , rgb(18, 36, 36));
    min-height: 17rem;
    border-radius: 3px;
    margin:1rem;
    color: rgb(207, 184, 184);
    padding-top: 3rem;
   
}

.colour-items{
   padding-top: 3rem;
    min-height: 17rem;
    border-radius: 3px;
    margin:1rem;
    color: rgb(185, 174, 174);
    background-image: linear-gradient(rgb(31, 40, 51), rgb(36, 45, 54));
}
.artkit-items{
    background-color: rgb(34, 27, 58);
    min-height: 17rem;
    padding-top: 3rem;
    border-radius: 4px;
    margin:1rem;
    opacity: 0.9;
    color: rgb(161, 150, 150);
}


/* section 3 */
.sec-three{
    min-height:13rem;
    text-align: center;
    color: rgb(203, 208, 211);
    font-size:2rem;
    font-weight: 500;
}


.design-items{
    background-color: rgb(41, 41, 25);
    min-height: 12rem;
    border-radius: 4px;
    margin:1rem;
 
}
.website-items{
    background-color: rgb(43, 28, 24);
    min-height: 12rem;
    border-radius: 4px;
    margin:1rem;
}