*{
    padding:0;
    margin:0;
    font-family: Calibre;
}

.all-slots {
    background-color:rgb(255, 255, 255);
    min-height: 100vh;

  }
  .ha{
    color: rgb(53, 48, 53);
    margin:1.5rem;
    border:0.5px solid rgb(224, 221, 226);
    background-color:rgb(255, 253, 253);
 
    /* box-shadow: 0 6px 7px -6px rgb(178, 204, 214); */
  }
  .ha:hover{
      background-color: rgb(239, 236, 240);
      cursor: pointer;
      border: 1px solid rgb(165, 235, 240);
     
  }
  .all-slots h4 {
      font-size: 0.5em;
      letter-spacing:2px;
      font-weight:700;
  }
.sec-one{
    min-height: 10rem;
    text-align: center;
    font-size:2rem;
    font-weight: 500;
    cursor: pointer;
}

.idea-items{
    min-height: 9rem;
    border-radius:3px;
}


.icon-sec{
    color: rgb(115, 156, 173);
    padding-top: 2rem;
    padding-bottom:1rem;

}
.sketches-items{
    min-height: 9rem;
    /* border-radius: 10px; */
}

/* section 2 */
.sec-two{
    min-height: 18rem;
    text-align: center;
    font-size:2rem;
    font-weight: 500;
}

.task-items{
    min-height: 17rem;
    border-radius: 3px;
    padding-top: 3rem;
}

.colour-items{
    padding-top: 3rem;
    min-height: 17rem;
    border-radius: 3px;
}
.artkit-items{
    min-height: 17rem;
    padding-top: 3rem;
    border-radius: 4px;
}

/* section 3 */
.sec-three{
    min-height:13rem;
    text-align: center;
    color: rgb(203, 208, 211);
    font-size:2rem;
    font-weight: 500;
}

.design-items{
    min-height: 12rem;
    border-radius: 4px;
}
.website-items{

    min-height: 12rem;
    border-radius: 4px;
}


/* top section after the header */
.intro{

    padding:2rem;
    margin: 1rem;
    margin-top: 2rem;
    font-family: Poppins;
    /* background-color: antiquewhite; */

}
.quotes{
      background-color:rgb(253, 252, 253);
      min-height:10rem;
      border-right: none;
      padding: 2rem;
      border-top-left-radius:2.3px;
      border-bottom-left-radius:2.3px;
      border:solid 1px rgb(200, 197, 202);
      border-right: none;
}

.times{
    background-color:rgb(253, 252, 253);
    border-left: none !important;
    min-height:11rem;
    padding: 2rem;
    text-align:right;
    border:solid 1px rgb(227, 224, 230);
    border-top-right-radius:2.3px;
    border-bottom-right-radius:2.3px;   
}

.quote-head{
    color:rgb(41, 183, 226);
    font-weight: 600;
}

.quote{
       font-weight: 400;
       font-size:1rem;
       color:rgb(70, 75, 77);
}

.clock-time{
     color: rgb(95, 60, 95);
}

.clock-date{
    font-weight:200;
    font-size:0.5rem;
    color: rgb(49, 31, 212);
}