*{
    padding:0;
    margin:0;
}

/* THIS IS THE NEWEST CSS */
/* section one */
.all-slots{
    background-color:rgb(4, 8, 24);
}
.sec-one{
    min-height: 16rem;
    color:rgb(68, 4, 77);
    text-align: center;
    font-size:1.5rem;
    letter-spacing:2px;
    font-weight: 500;
    cursor: pointer;
}

.idea-items{
    background-color:rgb(54, 4, 54);
    min-height: 16rem;
    border-radius:4px;
    margin:3rem;
    color:white;
  
}
.idea-items:hover .sketches-items{
   background-color: rgb(31, 3, 31);
}
.icon-sec{
    padding-top: 3rem;
    padding-bottom:2rem;
}
.sketches-items{
    background-color:rgb(34, 18, 34);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;
    color: rgb(207, 189, 189);
}


/* section 2 */
.sec-two{
    min-height: 16rem;
    color:rgb(207, 200, 200);
    text-align: center;
    font-size:1.5rem;
    letter-spacing:2px;
    font-weight: 600;
}
.task-items{
    background-color: rgb(25, 51, 51);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;
    color: rgb(207, 184, 184);
}

.colour-items{
    background-color: rgb(26, 40, 56);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;

}
.artkit-items{
    background-color: rgb(34, 27, 58);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;
    opacity: 0.9;
}


/* section 3 */
.sec-three{
    min-height:16rem;
    text-align: center;
    color: rgb(203, 208, 211);
    font-size:1.5rem;
    letter-spacing:2px;
    font-weight: 500;
}


.design-items{
    background-color: rgb(41, 41, 25);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;
 
}
.website-items{
    background-color: rgb(37, 13, 7);
    min-height: 16rem;
    border-radius: 4px;
    margin:3rem;
 
}