
*{
    padding:0;
    margin: 0;
    font-family:Poppins;
}

.items{
    background-color:rgb(255, 255, 255);
    border-radius:2px;
    margin: 1rem;    
    text-align:right;
}


li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color:rgb(78, 82, 85);
    padding:1rem;
    font-size: 0.7rem;
    font-weight:500;
}


.btni{
    background-color:rgb(229, 235, 236);
    border-radius:3px;
    border: none;
    height: 5rem;
    margin-top: 8px;
}

.btni:hover{
    background-color:rgb(16, 147, 180);
    color: rgb(223, 221, 221);
}


li:hover{
    color: rgb(255, 255, 255);
}


/* AFTER KEYFRAME SIZE EQUIVALENT TO SIZE OF PHONE SCREEN */
/* collapsible nav */

    @media only screen and (max-width: 600px) {

        .items{
            text-align:left;
        
        }
       
          .btni{
              width:24%;
              min-height: 3rem;
          }

          .addcl{
             width:100%;
          }
    }


  

