* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Roboto;
}


.pigment {
  min-height: 6rem;
  border: none;
  margin:0.5rem;
  border-radius:3px;
  transition-duration: 0.3s;
}

.pigment:hover {
  opacity: 0.7;
  transform: translate(5%, 5%);
  transform: scale(1.1);
  transform-origin:center;

}


.imgbtn {
  outline: none;
  color: rgb(20, 20, 19);
  font-size: 1.2rem;
  background-color: rgb(231, 229, 221);
  border-radius:3px;
  min-width:12rem;
  min-height:5rem;
  font-weight: 600;
  border: rgb(214, 218, 221) solid 2px;
  text-align: center;
  transition-duration: 0.3s;
}

.navbc{
    margin:1rem;
    min-height:4rem;
    text-align: center;
    margin-top:8px;
}

.imgbtn:hover {
  background-color: rgb(85, 66, 28);
  color: white;
  transform: scale(1.1);
  border: white 1px solid;
 
}

.artimg {
  z-index: 10000;
  width: 100%;
  height: 20vh;
  border-radius: 3px;
  opacity: 0.7 black;
}

.imagine{
    padding:1.5rem;
}

.imagine p{
    font-size:1.4rem;
    font-weight:500;
    color: rgb(185, 126, 16);
}

.imagine h6{
    font-size:2rem;
    letter-spacing:3px;
    font-weight:100;
    color: rgb(131, 100, 58);
}

.checkbt{
    border: none;
    background-color:transparent;
    text-align: center;
}

.sketches{
    padding:0.4rem;
}


@media only screen and (max-width: 600px) {
    .imgbtn{
     width:100%;
      /* width: 4rem; */
      /* border-radius: 10rem; */
    }
    .navbc{
      /* text-align: right; */
    }
    

}