*{
    padding: 0;
    margin: 0;
}


.rowsite{
    
    padding:0.1rem;
    min-height: 5rem;
    color:white;
    /* margin-bottom: 1rem; */
 
}
.addsite{
    border: none;
    color:rgb(238, 241, 245);
    background-color:rgb(48, 116, 148);
    height:3.3rem;
    width:10rem;
    font-weight: 500;
    border-radius:2rem;
    margin: 16px 0px 0px 16px;
    transition-duration: 0.3s;
}
.addsite:hover{
    box-shadow: 1px 1px 2px  rgb(192, 189, 189);
    transform: scale(1.1);
    border: white 1px solid;
    background-color:rgb(15, 158, 177);
}
.sites{
    border: none;
    padding:0.5rem;
    /* background-color: rgb(229, 230, 231); */
}

.segment{
    /* this height can be changed or done better dont make it fixed cause some div smay be bigger */
    height: 13rem;
    /* background: linear-gradient(45deg, rgb(173, 198, 206), rgb(17, 79, 114)); */
    color: rgb(108, 121, 128);
    border-radius:2px;
    border: 1.3px solid  rgb(225, 235, 235);
    margin: 1.5rem; 
    padding: 1.7rem ;
    transition-duration: 0.3s;
    background-color: rgb(248, 252, 252);

}
.segment:hover{
    background-color:white;
    cursor: pointer;
    box-shadow: 0 1px 1px -5px  rgb(194, 188, 188);
    /* transform: rotate(0.5deg); */
    transform: scale(1.02);
}
.segment::first-letter{
    text-transform: uppercase;
}
.segment h6{
 color:rgb(97, 105, 116);
 font-weight: 500;
    
}
.hd{
    font-size: 1.3em;
    font-weight: 450;
    /* color: rgb(255, 255, 255); */
}
.mid{
     font-size: 1.2em;
     /* color: rgb(255, 255, 255); */
}
.link{
    color: rgb(65, 62, 107);
    margin-left: 60%;
    margin-right:5%;
    border-radius:3px;
    border: solid 1px rgb(255, 255, 255);
    padding-bottom: 0.7rem;
    padding-left: 2rem;
}
.link:hover{
    border: solid 1px rgb(217, 199, 226);
}
.look{

    margin-left: 2rem;
    font-weight: 500;
    font-size:2rem;
}

.kula{
    background-color:transparent;
    border: none;
}